body{
  background:#fbfbfd !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-sup{
  color:#222d39;
  font-weight:700;
  font-style: italic;
}

.logo-inf{
  color:#677294;
  font-size:16px;
  font-weight: 600;
  font-style: normal;
}

.screen-size{
  height:100vh;
}

.logo-img{
  height:100px !important;
}
